<h1 style="text-align: center;">Bao: A Barrier Oracle</h1>
<div class="docs" style="display: flex; ">
    <div class="docs-bao-explainer" style="display: block; width: 45%; margin-right: 5%;">
        <%= render("bao_explainer.html", %{}) %>
    </div>
    <div class="docs-api-schema" style="display: block; width: 45%; margin-left: 5%;">
        <%= render("api_schema.html", %{}) %>
    </div>
</div>
