<title><%= title() %></title>
<link rel="stylesheet" href="assets/app.css">

<div class="top">
    <h1 style="text-align: center;">Bao: A Barrier Oracle</h1>
</div>
<div class="main">
    <%= render(BaoWeb.DocsView, "docs.html") %>
</div>
